[data-bs-theme=light] .dark {
  display: none;
}

[data-bs-theme=dark] .light {
  display: none;
}

/* Links */
:root,
[data-bs-theme=light] {
  --bs-link-color-rgb: 51, 122, 183;
  --bs-link-color: rgb(var(--bs-link-color-rgb));
  --bs-link-hover-color-rgb: 13, 110, 253;
  --bs-link-hover-color: rgb(var(--bs-link-hover-color-rgb));
}

[data-bs-theme=dark] {
  --bs-link-color-rgb: 139, 185, 254;
  --bs-link-color: rgb(var(--bs-link-color-rgb));
  --bs-link-hover-color-rgb: 110, 168, 254;
  --bs-link-hover-color: rgb(var(--bs-link-hover-color-rgb));
}

a {
  text-decoration: none
}

a:hover {
  text-decoration: underline
}

/* Headings */

article h1,
article h2,
article h3,
article h4 {
  margin-bottom: 1rem;
}

article h2 {
  margin-top: 2.5rem;
}

article h3 {
  margin-top: 2rem;
}

article h4 {
  margin-top: 1.5rem;
  border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
}

body[data-yaml-mime=ManagedReference] article dl.parameters>dt,
body[data-yaml-mime=ApiPage] article dl.parameters>dt {
  margin: 1rem 0 0.5rem 0
}

/* Links auf den Source ausblenden */
body[data-yaml-mime=ManagedReference] article .header-action,
body[data-yaml-mime=ApiPage] article .header-action {
  display: none
}

.navbar,
footer {
  background-color: #EFF5FB;
}

[data-bs-theme=dark] .navbar,
[data-bs-theme=dark] footer {
  background-color: #06132C;
}

ol,
ul {
  padding-left: 2.5rem
}

[data-bs-theme=dark] img[src*=".drawio.svg"] {
  background-color: white;
  box-shadow: 0rem 0rem 0.3rem 0.3rem white;
}

/* `code` texte */
code {
  color: inherit;
  padding: .2em .4em;
  white-space: break-spaces;
  background-color: rgba(128, 128, 128, 0.2);
  border-radius: var(--bs-border-radius);
}

/* ALERTS */

.TIP.alert-info h5:before {
  content: "\f46b"
}

.NOTE.alert-info h5:before {
  content: "\f431"
}

.IMPORTANT.alert-danger h5:before{
  content: "\f333"
}

.alert-warning h5:before {
  content: "\f33b"
}

.CAUTION.alert-danger h5:before {
  content: "\f335"
}

.alert {
  --bs-alert-padding-x: 0.5rem;
  --bs-alert-padding-y: 0.5rem;
  background-color: transparent;
  padding: 0;
  color: inherit;
  box-shadow: .1rem .1rem .2rem 0 var(--bs-alert-bg);
}

.alert h5 {
  background-color: var(--bs-alert-bg);
  padding: var(--bs-alert-padding-y) var(--bs-alert-padding-x);
  border-top-left-radius: calc(var(--bs-border-radius) - var(--bs-border-width));
  border-top-right-radius: calc(var(--bs-border-radius) - var(--bs-border-width));
  border-bottom: var(--bs-alert-border);
  border-bottom-width: calc(var(--bs-border-width) * 3);
  color: var(--bs-alert-color);
}

.alert p {
  padding: 0 var(--bs-alert-padding-x);
}

/* Tips grün anzeigen (Success) */
.TIP.alert-info {
  --bs-alert-color: var(--bs-success-text-emphasis);
  --bs-alert-bg: var(--bs-success-bg-subtle);
  --bs-alert-border-color: var(--bs-success-border-subtle);
  --bs-alert-link-color: var(--bs-success-text-emphasis)
}

.IMPORTANT.alert-danger {
  --bs-alert-color: var(--bs-primary-text-emphasis);
  --bs-alert-bg: var(--bs-primary-bg-subtle);
  --bs-alert-border-color: var(--bs-primary-border-subtle);
  --bs-alert-link-color: var(--bs-primary-text-emphasis)
}